html, body {
  margin: 0px;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#header {
  position: fixed;
  top:0px;
  left:0px;
  height: 4rem;
  width: 100vw;

  background-color: #651FFF;
  color: #B2EBF2;
  font-size: 2rem;
  font-family: sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .button {
    font-size: 1rem;
    background-color: white;
    color: black;
    transition: background-color 1s linear, color 1s linear, border 1s linear;

    padding: 4px 16px;
    border-radius: 4px;
    border: solid 1px black;
    margin: 8px;

    &:hover {
      background-color: gray;
      color: white;
      border: solid 1px white;
    }
  }

  #title:after {
    content: "Historical Presidential Gallup Polls"
  }
}

#main {
  padding-top: 4rem;
  height: calc(100%  - 4rem);
  width: 100vw;
  background-color: #C5CAE9;
}
